#logo {
    height: 60px;
	margin-top: -45px;
}

.titlecontainer {
    height: 60px;
}

#titlefont {
    font-size: 65px;
    font-style: italic;
}

#titledescription {
    font-style: italic;
}

#userinformation {
    float: right;
    margin-right: 10px;
}

.userinformationtable{
    font-size: 13px;
    float: left;
    margin-right: 50px;
}

.userinformationtable td{
    background: #f9f9f9;
    text-align: right;
}

.currentitem {
    font-weight: bold;
}

#info {
	float: right;
}

#navigationwrapper {
    background: #666;
    position: relative;
    margin-top: 20px;
}

#navigationbar {
    height: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 4px solid #008ac8;
    border-bottom: 4px solid #008ac8;
}

#navigationlist {
    float: left;
    margin-top: 6px;
    font-size: 18px;
    margin-left: 10px;
}

.navigationbutton {
	background: #008ac8;
	float: left;
	border: 2px solid white;
	color: white;
	width: 130px;
	text-align: center;
	margin-right: 10px;
	border-radius: 8px;
	transform: skew(-20deg);
    -ms-transform: skew(-20deg); /* IE 9 */
    -webkit-transform: skew(-20deg); /* Safari and Chrome */
    -o-transform: skew(-20deg); /* Opera */
    -moz-transform: skew(-20deg); /* Firefox */
    cursor: pointer;
}

.navigationbutton:hover {
    background: #239dd2;
}

#navigationwrapperinner {
    background: #666;
    position: relative;
    margin-top: 20px;
}

#navigationbarinner {
    height: 34px;
    margin-top: 5px;
    border-top: 4px solid #008ac8;
    border-bottom: 4px solid #008ac8;
}

#navigationlistinner {
    float: left;
    margin-top: 3px;
    font-size: 18px;
    margin-left: 10px;
}

.navigationbuttoninner {
	background: #008ac8;
    font-size: 15px;
	float: left;
	border: 2px solid white;
	color: white;
	width: 130px;
	text-align: center;
	margin-right: 10px;
	border-radius: 8px;
	transform: skew(-10deg);
    -ms-transform: skew(-10deg); /* IE 9 */
    -webkit-transform: skew(-10deg); /* Safari and Chrome */
    -o-transform: skew(-10deg); /* Opera */
    -moz-transform: skew(-10deg); /* Firefox */
    cursor: pointer;
}

.navigationbutton:hover {
    background: #239dd2;
}

#contactus {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    color: white;
}

#backgroundimagewrapper {
	margin-top: -30px;
}

#backgroundimagewrapper img {
    width: 100%;
}


.middlecontent {
    position: absolute;
    z-index: 30;
    top: 143px;
}

#leftmaincontainer {
	
}

#keyfeaturesheader {
	padding-top: 8px;
	padding-left: 90px;
}

.maincontentheader {
	width: 300px;
	height: 50px;
	color: white;
	font-size: 25px;
	background-image: url('../../assets/images/keyfeaturesimage.png');
    background-repeat:no-repeat;
}

#rightmaincontainer {
	margin-left: 350px;
}

#integratedapplicationsheader {
    padding-top: 7px;
	padding-left: 40px;
}

.maininformationcontainer {
    margin-top: -8px;
    height: 230px;
	padding: 10px;
	width: 318px;
    line-height: 30px;
	background: white;
	border: 2px solid #008ac8;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #aaa;
}

.bluetext {
    color: #008ac8;
    text-decoration: underline;
}

#compatible {
    font-size: 12px;
}

.compatiblelogo {
    margin-top: -5px;
    max-height: 15px;
}

#logincontainer {
margin-left: 750px;
margin-top: 10px;
}

#fnilogo {
    max-width: 150px;
    padding-left: 5px;
}

#logininputcontainer {
    border-left: 2px solid #008ac8;
    padding-left: 5px;
}

.logininput {
    width: 100%;
}

#loginbutton {
	background: #008ac8;
	border-radius: 3px;
	padding: 2px;
	border: 2px solid #008ac8;
	cursor: pointer;;
}

#loginbutton:active {
	background: white;
}

#iphone {
    position: absolute;
    top: 415px;
    margin-left: 275px;
    z-index: 100;
    max-width: 40px;
}

#monitor {
    position: absolute;
    top: 449px;
    margin-left: 595px;
    max-width: 190px;
}

#outlieriphone {
    position: absolute;
    top: 450px;
    margin-left: 342px;
    z-index: 100;
    max-width: 40px;
}

#ipad{
    position: absolute;
    top: 480px;
    margin-left: 405px;
    z-index: 100;
    max-width: 120px;
}

#subnavlistcontainer {
    background: lightgray;
    height: 25px;
    border-bottom: 6px solid gray;
    padding-left: 10px;
}

#subnavlist li{
    display:inline;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 3px solid;
    border-left: 3px solid;
    cursor: pointer;
}

#subnavlist li:hover {
    text-decoration: underline;

}

#selected{
    background: gray;
    font-weight: bold;
}

#tablenav {
    padding-left: 10px;
    margin-top: 15px;
}

#tablenavlist li {
    display: inline;
    background: #008ac8;
    padding: 4px;
    border-radius: 5px;
    color: white;
}

/*TABLES*/

table.dataTable {
	margin: 0 auto;
	clear: both;
	width: 100%;
}

#example_wrapper {
    margin-top: 20px;
}

#example_length {
    float: left;
}

.dataTables_filter {
    float: right;
}

table.dataTable thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	*cursor: hand;
}

table.dataTable tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.dataTable td {
	padding: 3px 10px;
}

table.dataTable td.center,
table.dataTable td.dataTables_empty {
	text-align: center;
}

table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }

table.dataTable tr.odd td.sorting_1 { background-color: #D3D6FF; }
table.dataTable tr.odd td.sorting_2 { background-color: #DADCFF; }
table.dataTable tr.odd td.sorting_3 { background-color: #E0E2FF; }
table.dataTable tr.even td.sorting_1 { background-color: #EAEBFF; }
table.dataTable tr.even td.sorting_2 { background-color: #F2F3FF; }
table.dataTable tr.even td.sorting_3 { background-color: #F9F9FF; }

#example_previous,
#example_next {
    padding: 5px;
    margin: 10px;
    background: #D3D6FF;
}