#logo {
    height: 60px;
    margin-top: -40px;
}

.titlecontainer {
    margin-bottom: -20px;
}

#titlefont {
    font-size: 65px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0px;
}

#titledescription {
    font-style: italic;
        margin-bottom: 0px;
}

#navigationwrapper {
    background: gray;
}

#navigationbar {
    height: 65px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 4px solid darkblue;
    border-bottom: 4px solid darkblue;
}

#navigationlist {
    float: left;
    margin-top: 15px;
    font-size: 18px;
    margin-left: 10px;
}

.navigationbutton {
	background: #008ac8;
	float: left;
	border: 2px solid white;
	color: white;
	width: 130px;
	text-align: center;
	margin-right: 10px;
	border-radius: 8px;
	transform: skew(-20deg);
    -ms-transform: skew(-20deg); /* IE 9 */
    -webkit-transform: skew(-20deg); /* Safari and Chrome */
    -o-transform: skew(-20deg); /* Opera */
    -moz-transform: skew(-20deg); /* Firefox */
    cursor: pointer;
}

.navigationbutton:hover {
    background: #239dd2;
}

#contactus {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}